@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
